SUPABASE_URL="https://NAcal_Dasboard_IOT.supabase.com"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indrc211bmlsZmpqbXRhd3hqcWR0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU0Nzc5MzQsImV4cCI6MjEwMTA1MzkzNH0.15E0CXc65tDjPisGU7wyLeweT9gKvZHWSbWOeMks-UA"